@import url("https://cdn.bootcss.com/ionicons/2.0.1/css/ionicons.min.css");
.header-bar{padding:10px 0;background:#3a3a3a;color:#FFF;}
.icon-span{display:inline-block;width:20px;height:20px;}
.icon{font-size: 20px;color:#FFF;font-weight: lighter;}
