<ul class="footer-nav nav fixed-bottom nav-fill">
	<li class="nav-item" (click)="navIndex = 0">
		<a class="nav-link" [class.active]="navIndex == 0" href="#">微信</a>
	</li>
	<li class="nav-item" (click)="navIndex = 1">
		<a class="nav-link" [class.active]="navIndex == 1" href="#">通讯录</a>
	</li>
	<li class="nav-item" (click)="navIndex = 2">
		<a class="nav-link" [class.active]="navIndex == 2" href="#">发现</a>
	</li>
	<li class="nav-item" (click)="navIndex = 3">
		<a class="nav-link" [class.active]="navIndex == 3" href="#">我</a>
	</li>
</ul>
