<div class="footer-nav nav fixed-bottom nav-fill">
	<a class="nav-item" [routerLink]="['/header']" [class.active]="navIndex == 0" (click)="navIndex = 0">
		<p><i class="icon ion-ios-chatbubble"></i></p>
		<p><span class="nav-link">微信</span></p>
	</a>
	<a class="nav-item" [routerLink]="['/header']" [class.active]="navIndex == 1" (click)="navIndex = 1">
		<p><i class="icon ion-person-stalker"></i></p>
		<p><span class="nav-link">通讯录</span></p>
	</a>
	<a class="nav-item" [routerLink]="['/header']" [class.active]="navIndex == 2" (click)="navIndex = 2">
		<p><i class="icon ion-compass"></i></p>
		<p><span class="nav-link">发现</span></p>
	</a>
	<a class="nav-item" [routerLink]="['/header']" [class.active]="navIndex == 3" (click)="navIndex = 3">
		<p><i class="icon ion-person"></i></p>
		<p><span class="nav-link">我</span></p>
	</a>
</div>
